.container{
    border:1px solid black;
    height: 90vh;
    display: grid;
    /*grid-template-columns: 100px 200px 300px 100px ;
    grid-template-rows: 100px 100px ;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(2, 100px );
    */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 100px ;
}
.item{
    color: black;
    border: 1px solid black;
    background-color: lightblue;
    padding: 30px 40px;
}