*{
   
}
body{
    background-color: black;
    color: white;
}
.box{
    background-color: rgb(226, 220, 220);
    color: black;
    display: flex;
    width: 80px;
    height: 30px;
    padding-top: 7px;
    padding-left: 20px;
}
.fixed{
    position: fixed;
    bottom: 565px;
    right: 750px;
    background-color: rgb(218, 218, 218);
    font-size: 20px;

    color: rgb(0, 0, 0);
    border-radius: 6px;
    padding: 20px   30px;
    font-size: 30px;
}
.guess{
    border: 1px solid white;
    background-color: black;
    color: white;
    height: 70px;
    width: 150px;
    display: block;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 300px;
}
.check{
    border: 1px solid white;
    background-color: rgb(255, 245, 245);
    color: rgb(0, 0, 0);
    height: 60px;
    width: 130px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.message{
    display: flex;
    font-size: 20px;
    justify-content: flex-end;
    margin-right: 350px;
    ma

}