*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(233, 242, 245);
}
header{
  text-align: center;
  padding: 20px 0px;
  background-color: blue;
  color: White;
  border-radius: 7px;
}
header h1{
    border: 2px solid red;
    padding: 10px;
    margin: 7px;
    margin-left: 10px;
}

.quize{
    height: 100vh;
    
}
.quize-body{
    background-color: white;
    border-radius: 15px;
    
    padding: 20px;
    width: 1200px;
    margin-left: 10%;
    margin-top: 60px;
}
.fixed{
    position: fixed;
    bottom: 20px;
    right: 30px;
    background-color: blue;
    font-size: 20px;
    padding: 10px;
    color: aliceblue;
    border-radius: 6px;
}
.questions{
    background-color: rgb(204, 251, 251);
}

