h1{
    color: #000;
   
}
#a{
    color: rgb(0, 0, 0);
    background-color: yellow;
    font-size: 20px;
}
#a:nth-child(1){
    color: red;
    font-size: 20px;
   
}
.b{
    border: 3px solid;
    color: black;
}
h1,h2{
    color: rgb(0, 0, 0);
}
div p{
    color: black;
    background-color: red;
}
div>p{
    color: rgb(0, 0, 0);
    background-color:gainsboro;
}
button[type="submit"]{
    color: black;
    font-size: 32px;
}
ul li:nth-child(2){
    color: red;
    font-size: 20px;
    
}
ol li:nth-child(2){
    color: red;
    font-size: 20px;
   
}
li:hover{
    color: black;
    background-color: red;
    font-size: 35px;
}
#r::before{
    content: "Hello ";
}
.b::first-letter{
    color: red;
    font-size: 40px;
}
#q{
    display: block;
}
#q::first-letter{
    color: red;
    font-size: 40px;

}

h1:nth-child(1){
   border: 3px solid red;
    font-size: 20px;
    padding: 20px 80px;
    margin: 80px;
}

